* {
  margin: 0;
  padding: 0;
}

body {
  height: 2092px;
  font-size: 16px;
}

.flex {
  display: flex;
}

.font-inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}

.font-newsreader {
  font-family: 'Newsreader', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.fw-light {
  font-weight: 300;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

header,
section,
main {
  margin: 0 96px;
}

@media (max-width: 1439px) {
  header,
  section,
  main {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Header */

nav {
  height: 112px;
  background-color: white;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 112px;
  display: flex;
  align-items: center;
}
nav a {
  height: 100%;
  margin: 0 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav li:first-child {
  margin-right: auto;
}
.logo {
  color: #436b1f;
  font-size: 32px;
  line-height: 100%;
  margin: 0;
  letter-spacing: 99%;
}
a.logo {
  letter-spacing: -1%;
}
.navlink a {
  list-style-type: none;
  align-items: center;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}
.basket {
  width: 126px;
  height: 48px;
  margin: 0 0 0 24px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background-color: #426b1f;
  color: #ffffff;
  font-weight: 600;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 40vh;
    width: 30vh;
    background-color: grey;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a {
    width: 100%;
}
.menu-button {
  display: none;
}
@media (max-width: 800px) {
  .hideonmobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
/* main homepage */

.main-text {
  font-size: 64px;
  width: 1020px;
  margin-left: 121px;
  margin-top: 167px;
  letter-spacing: -2%;
  text-align: center;
  line-height: 120%;
}

.brower-our-shop {
  background-color: #426b1f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #ffffff;
  width: 227px;
  height: 64px;
  font-weight: 600;
  margin-top: 48px;
  margin-bottom: 156px;
  margin-left: 511px;
  margin-right: 606px;
  line-height: 130%;
}

.picture img.picture-left {
  width: 504px;
  height: 693px;
}

.picture img.picture-right {
  width: 780px;
  height: 480px;
}

.picture > .left {
  margin-right: 60px;
}

.picture > .right {
  margin-top: 90px;
  width: 736px;
  height: 44px;
}

.picture > .right > .discription {
  margin-top: 12px;
  text-align: start;
  font-weight: 300;
  line-height: 160%;
  font-size: 14px;
}

.right b {
  font-weight: 500;
}

.what-we-believe {
  margin-top: 156px;
}

.what-we-believe .title {
  text-transform: uppercase;
  width: 181px;
  height: 22px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 4%;
  line-height: 160%;
}

.text {
  margin-left: 32px;
  width: 822px;
  height: 512px;
  font-size: 20px;
  line-height: 160%;
  text-align: left;
}

/* main cart */
main {
  margin-top: 55px;
}

.title-basket {
  width: 181px;
  height: 77px;
  font-size: 64px;
  letter-spacing: -2%;
  line-height: 120%;
  color: #000000;
  margin-top: 56px;
}

.number-items {
  width: 69px;
  height: 26px;
  font-size: 20;
  font-weight: 300;
  margin-top: 90px;
  margin-left: 24px;
  line-height: 130%;
  color: #000000;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e6e6e6;
  padding: 0;
  width: 100%;
}

.cart {
  justify-content: space-between;
  margin-top: 40px;
}

.list-item {
  width: 821px;
  height: 159px;
  margin-bottom: 31px;
  background-color: #fafaf5;
  border-radius: 24px;
  border: 2px solid #e6e6e6;
  display: flex;
  position: relative;
}

.image-item > img {
  width: 160px;
  height: 160px;
  border-radius: 24px 0 0 24px;
  overflow: hidden;
  display: inline;
}

img {
  overflow: hidden;
}

.item-name {
  width: 162px;
  height: 26px;
  margin-top: 24px;
  margin-left: 24px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  line-height: 130%;
}

.item-price {
  width: 92px;
  height: 26px;
  margin-top: 4px;
  margin-left: 24px;
  color: #426b1f;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  line-height: 130%;
}
.item-price-2 {
  width: 102px;
  height: 26px;
  margin-top: 4px;
  margin-left: 24px;
  color: #426b1f;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  line-height: 130%;
}
.item-price-3 {
  width: 93px;
  height: 26px;
  margin-top: 4px;
  margin-left: 24px;
  color: #426b1f;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  line-height: 130%;
}

.item-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 128px;
  height: 40px;
  margin-top: 15px;
  margin-left: 24px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid rgba(00, 00, 00, 6%);
}

.input-quantity {
  width: 88px;
  height: 21px;
  margin-left: 16px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  line-height: 130%;
}

.pencil {
  width: 32px;
  height: 32px;
  margin-top: 4px;
  margin-right: 8px;
  margin-bottom: 4px;
  color: #6d6d6d;
  vertical-align: middle;
}

.pencil i {
  margin-top: 6px;
  width: 16.5px;
  height: 16.5px;
}

.total {
  width: 57px;
  height: 26px;
  position: absolute;
  right: 24px;
  top: 24px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  line-height: 130%;
}

.order {
  width: 395px;
  height: 318px;
  background-color: #fafaf5;
  border-radius: 24px;
  border: 2px solid #e6e6e6;
}

.order-detail {
  margin-left: 24px;
  margin-right: 24px;
}

.order-summary {
  width: 151px;
  height: 26px;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  line-height: 130%;
}

.subtotal {
  justify-content: space-between;
  margin-top: 32px;
}

.subtotal-name {
  width: 64px;
  height: 21px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  line-height: 130%;
}

.subtotal-price {
  margin-right: 4px;
  width: 52px;
  height: 21px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  line-height: 130%;
}

.shipping {
  justify-content: space-between;
  margin-top: 16px;
}

.shipping-name {
  width: 64px;
  height: 21px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  line-height: 130%;
}

.shipping-price {
  width: 45px;
  height: 21px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  line-height: 130%;
}

.tax {
  justify-content: space-between;
  margin-top: 16px;
}

.tax-name {
  width: 64px;
  height: 21px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  line-height: 130%;
}

.tax-price {
  margin-right: 8px;
  width: 44px;
  height: 21px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  line-height: 130%;
  display: inline;
}

.final-total {
  justify-content: space-between;
  margin-top: 12px;
}

.final-total-name {
  width: 64px;
  height: 21px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  line-height: 130%;
}

.final-total-price {
  width: 57px;
  height: 21px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  line-height: 130%;
}

.go-payment {
  width: 347px;
  height: 48px;
  margin-top: 32px;
  background-color: #426b1f;
  border-radius: 8px;
  position: relative;
}

.go-payment a.payment {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  line-height: 130%;
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  left: 24px;
  top: 14px;
  bottom: 13px;
}

.fa-xl {
  color: #ffffff;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 14px;
  bottom: 16px;
  right: 16px;
  margin-top: 8px;
}

/* product */


section {
  height: 149px;
  background-color: white;
}
section ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
section li {
  height: 112px;
  display: flex;
  align-items: end;
  margin-bottom: 13px;
}
section a {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: end;
  color: black;
  justify-content: center;
}

section li:nth-child(1) {
  font-size: 64px;
  letter-spacing: -2%;
  line-height: 120%;
  color: #000000;
}

section li:nth-child(2){
  margin-right: auto;
}

section li:nth-child(2) a{
  margin-left: 24px;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 20px;
}

section li:nth-child(3) a{
  width: 88px;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  background-color: #426b1f;
  border: 1px solid #426b1f;
  margin-bottom: 20px;
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section li:nth-child(3) {
  
  line-height: 40px;
  border: none;
  border-radius: 20px;
}
section li:nth-child(4) a{
  margin: 0 8px;
  width: 62px;
  line-height: 130%;
}
section li:nth-child(5) a{
  width: 101px;
  line-height: 130%;
}
section li:nth-child(n+4) a{
  font-weight: 600;
  line-height: 130%;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #c2c2c2;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ul-navlink {
  margin: 76px 0 0 482px;
}

.ul-navlink li {
  list-style-type: none;
}

.ul-navlink a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #c2c2c2;
}

a.Default {
  width: 86px;
  height: 40px;
  
}

a.A-Z {
  margin: 0 8px 0 8px;
  width: 62px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #c2c2c2;
  border-radius: 20px;
  color: #000000;
  display: block;
  text-align: center;
}

a.List-view {
  width: 101px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #c2c2c2;
  border-radius: 20px;
  color: #000000;
  display: block;
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

@media (max-width: 1239px) {
  .grid {
  display: grid;
  column-gap: 32px;
  grid-template-columns: auto auto;
}
}

.grid {
  display: grid;
  column-gap: 32px;
  grid-template-columns: 395px 395px 395px;
}

.grid-container {
  display: inline-grid;
  background-color: #fafaf5;
  width: 395px;
  height: 444px;
  border-radius: 24px;
  border: 2px solid #e6e6e6;
  position: relative;
}

.image-product {
  width: 395px;
  height: 296px;
  border-radius: 24px 24px 0 0;
}

.image-product > img {
  width: 395px;
  height: 296px;
  border-radius: 24px 24px 0 0;
}

.name-product {
  font-size: 20px;
  line-height: 130%;
  color: #000000;
  position: absolute;
  top: 320px;
  left: 24px;
}

.price-product {
  font-size: 20px;
  line-height: 130%;
  color: #426b1f;
  position: absolute;
  top: 350px;
  left: 24px;
}

.description-product {
  font-size: 16px;
  line-height: 150%;
  color: #6d6d6d;
  position: absolute;
  top: 392px;
  left: 24px;
}
